@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");



* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}


.center {
    border: 1px solid white;
    height: 500px;
    padding: 200px;
    margin: 200px;
}


html {
    background-image: linear-gradient(to bottom, #000, #4E1116);
    height: 100vh;
}


h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: white;
    height: 50vh;
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}
  

span {
	color: #a30000;
}