@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --cor-principal: #600; 
    --cor-secundaria: white; 
}


html {
    height: 100vh;
    width: 100vw;
	background-image: linear-gradient(to bottom, #000, #3D0000);
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin:0;
	padding:0;
	background-color: rgba(0, 0, 0, 0.123);
	color: white;
	}

span {
	color: red;
}


ul {
    margin: auto;
    width: 300px;
    list-style-type: none;
    padding: 0; 
}

ul {
    margin-top: 20vh;
   
}

ul li{
    background-color: var(--cor-principal);
    border-radius: 30px;
}

ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: upercase;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.7s;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    
}

ul li a:hover{
	background:#900;
	-webkit-transform: scale(1.5);
    border-radius: 30px;
    transform: scale(1.5);

}

ul li a:active{
    transform: scale(1.10);
    transition: all .09s;
}


